# Part 1: Exploring the Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Eximanation

First, I'll import the data and quickly examine the columns and their types, as well as understanding what the data looks like.  For any possible data quality issues, I will dive in deeper to the variables which I feel present issues.

In [55]:
products = pd.read_csv("PRODUCTS_TAKEHOME.csv")

#Converting the barcode to an object

products["BARCODE"] = products["BARCODE"].astype("Int64").astype(str)
products["BARCODE"] = products["BARCODE"].replace("<NA>", np.NaN)

In [ ]:
users = pd.read_csv("USER_TAKEHOME.csv")

In [64]:
transactions = pd.read_csv("TRANSACTION_TAKEHOME.csv")

#Converting the barcode to an object

transactions["BARCODE"] = transactions["BARCODE"].astype("Int64").astype(str)
transactions["BARCODE"] = transactions["BARCODE"].replace("<NA>", np.NaN)

### Products

In [57]:
products.sample(5)

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
822812,Health & Wellness,Medicines & Treatments,Essential Oils,NaN,PLANT THERAPY ESSENTIAL OILS,PLANT THERAPY,680912012928
790568,Health & Wellness,Bath & Body,Hand Sanitizer Wipes,NaN,TOPCO ASSOCIATES LLC,WESTERN FAMILY,15400072656
534401,Health & Wellness,Hair Removal,Razors,Men's Razors,PLACEHOLDER MANUFACTURER,BRAND NOT KNOWN,791383507520
420442,Health & Wellness,Bath & Body,Bath Additives,NaN,REM MANUFACTURER,REM BRAND,10879700277
795623,Snacks,Candy,Confection Candy,NaN,"ALBANESE CONFECTIONERY GROUP, INC.",ALBANESE,634418524805

In [58]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  object
dtypes: object(7)
memory usage: 45.2+ MB

In [68]:
#Checking if each barcode in products is unique (it should be as the primary key)

len(products) == products["BARCODE"].nunique()

False

In [71]:
#Example of a duplicate row

products[products["BARCODE"] == products["BARCODE"].value_counts().index[0]]

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
612573,Snacks,Candy,Chocolate Candy,NaN,THE HERSHEY COMPANY,HERSHEY'S,3423905
827242,Snacks,Candy,Chocolate Candy,NaN,THE HERSHEY COMPANY,HERSHEY'S,3423905

In [72]:
#Example of a duplicate barcode without an entire duplicate row

products[products["BARCODE"] == products.drop_duplicates()["BARCODE"].value_counts().index[0]]

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
216314,Snacks,Candy,Chocolate Candy,NaN,FERRERO GROUP,KINDER,80310167
585634,Snacks,Candy,Chocolate Candy,NaN,KINDER'S,KINDER'S,80310167

### Users

In [5]:
users.sample(5)

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female

In [8]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB

In [67]:
#Checking if each id in users is unique (it should be as the primary key)

len(users) == users["ID"].nunique()

True

### Transactions

In [11]:
transactions.sample(5)

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
45361,1133aa89-9bc4-4a9f-a9a4-73e8bfb2fb43,2024-06-16,2024-06-16 13:47:40.174 Z,WALMART,62194152c7ae4d3233ef721c,1.342100e+10,1.00,2.97
32109,6407e902-dd04-40dd-8a19-5bf628c6f1d2,2024-07-03,2024-07-04 09:44:24.819 Z,SAM'S CLUB,62c6411db79924d29cc083e0,1.600043e+10,1.00,7.70
13103,86c83bef-5019-4587-9b06-165c12c2888a,2024-09-02,2024-09-02 12:43:55.036 Z,WALMART,5f7400c5d79e8f16ad9962f2,2.240064e+10,zero,1.97
6622,43955b35-6fbc-4909-a4de-1a0de0dc387f,2024-09-06,2024-09-08 18:32:30.031 Z,WALMART,625364ddda4fb11c8a9fcb85,3.716877e+11,1.00,
7703,4f29845d-4b00-496f-998f-5167b87beb1a,2024-08-23,2024-08-23 22:03:10.351 Z,WALMART,5d6b4e9cd09cf73c7b821688,7.874222e+10,zero,2.68

In [9]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB

In [73]:
#Checking if each receipt id is unique

len(transactions) == transactions["RECEIPT_ID"].nunique()

False

In [81]:
transactions[transactions["RECEIPT_ID"] == transactions["RECEIPT_ID"].value_counts().index[0]]

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
18637,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,zero,0.89
18638,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,
18639,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,zero,0.89
18640,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,
18641,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,zero,0.89
18642,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,
39703,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89
39704,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89
39705,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89
39706,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89
39707,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89
39708,bedac253-2256-461b-96af-267748e6cecf,2024-09-08,2024-09-08 20:00:42.348 Z,KROGER,614f7e8081627974a57c8a9e,11110121141,1.00,0.89

In [85]:
transactions.groupby("RECEIPT_ID")["BARCODE"].nunique().value_counts()

1    21310
0     2801
2      318
3       11
Name: BARCODE, dtype: int64

In [16]:
transactions["FINAL_QUANTITY"].value_counts()

1.00    35698
zero    12500
2.00     1285
3.00      184
4.00      139
        ...
6.22        1
1.22        1
1.23        1
2.57        1
2.27        1
Name: FINAL_QUANTITY, Length: 87, dtype: int64

## Answering the Prompt

Are there any data quality issues present?

* The BARCODE variable from products and transactions presents a range of data quality issues.  Although it is reported as a number, it should be converted from a float to an object as a barcode is meant to act as an identifier and shouldn't be formatted with a ".0" at the end.  Additionally, BARCODE should act as the primary key in products which means it should be completely unique by row, and this isn't the case.  I identified duplicate barcodes in products as well as entire rows which are duplicates.  There are also missing values for BARCODE in both products and transactions, making those rows useless if I am to join the datasets on that key.
* The FINAL_QUANTITY variable from transactions presents a range of data quality issues.  First, the data type should be an int, but it's reported as an object because many of the values are "zero".  Furthermore, the values which are "zero" don't make sense because I wouldn't think the row should exist if a customer didn't buy any items of a given barcode.  There are also some values which are reported as floats which don't make sense for a variable which is reporting quantity.
* Missing values: There are multiple fields with missing values throughout the 3 datasets.  Some may be justified, such as "CATEGORY_4", as not all products will have multiple sub-categories which can be entered.  However, there are missing values for BARCODE in both products and transactions which is a problem because it's the primary key in products.  There are also missing values for variables like "MANUFACTURER", "BRAND", and "GENDER" which are worth exploring (Why is the branding unknown for some products? Did users choose not to enter their gender into the data?)
* The structure of the transactions table is very unclean and confusing.  There is no primary key which identifies each row in the table, which should correspond to a unique product of a certain quantity that the user bought.  Although it makes sense that RECEIPT_ID is not a unique identifier (there can be multiple products/barcodes on one receipt), it doesn't make sense that there are duplicate barcodes within the same receipt across rows.  The FINAL_QUANTITY variable should reflect the amount of barcodes on a given receipt which repeat, but because there are duplicate barcodes/receipt numbers, it is unclear how the data should be aggregated.

Are there any fields that are challenging to understand?

* The "CATEGORY_x" variables from products are slightly confusing because they are only differentiated by different numbers which don't convey information.  However, looking at the data, it seems clear that the variables are referring to a sub-category which becomes more granular as x increases.  I would rename the columns to "Category", "Sub-Category", "Sub Category 2", "Sub Category 3".
* I would verify the difference in meaning between the "PURCHASE_DATE" and "SCAN_DATE" in transactions.  It is confusing to me that these two dates are often different in a given row of data because I would expect the customer to purchase the items at approximately the same time items are scanned.  SCAN_DATE is also reported as a datetime whereas PURCHASE_DATE is reported only as a date, so I might request that I also get PURCHASE_DATE as a datetime so I could properly compare the two variables.